body {
  margin: 0;
  background: #222831;
  color: #eeeeee;
}

header {
  font-size: 50px;
  text-align: center;
}
header h1 {
  margin: 20px;
}

.container_startPage {
  position: absolute;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  visibility: visible;
}
.container_startPage #pvp {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.container_startPage #pvc {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.container_startPage_selection {
  text-align: center;
  margin: 10px 200px;
}
.container_startPage_selection button {
  background-color: #393e46;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 300px;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  color: #eeeeee;
  border-radius: 10px;
}
.container_startPage_selection button:hover {
  cursor: pointer;
}
.container_startPage_selection button:active {
  transform: scale(0.9);
  transition: all ease-in-out 0.5s;
}
.container_startPage_startBtn {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
.container_startPage_startBtn button {
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #00adb5;
  color: #eeeeee;
}
.container_startPage_startBtn button:hover {
  cursor: pointer;
}
.container_gamePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.container_gamePage_players {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.container_gamePage_players p {
  background-color: #393e46;
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 10px;
}
.container_gamePage_gameArea {
  display: grid;
  grid-template-rows: repeat(3, 2fr);
  grid-template-columns: repeat(3, 2fr);
  width: 250px;
  height: 250px;
}
.container_gamePage_gameArea_item {
  border: 2px #00abd5 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_gamePage_gameArea_item p {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.container_gamePage_gameArea #item0 {
  border-left: none;
  border-top: none;
}
.container_gamePage_gameArea #item1 {
  border-top: none;
}
.container_gamePage_gameArea #item2 {
  border-right: none;
  border-top: none;
}
.container_gamePage_gameArea #item3 {
  border-left: none;
}
.container_gamePage_gameArea #item5 {
  border-right: none;
}
.container_gamePage_gameArea #item6 {
  border-left: none;
  border-bottom: none;
}
.container_gamePage_gameArea #item7 {
  border-bottom: none;
}
.container_gamePage_gameArea #item8 {
  border-right: none;
  border-bottom: none;
}
.container_gamePage_restart {
  text-align: center;
  padding: 30px;
}
.container_gamePage_restart button {
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #00adb5;
  color: #eeeeee;
}
.container_gamePage_restart button:hover {
  cursor: pointer;
}
.container_gameResult {
  visibility: hidden;
  position: absolute;
  top: 300px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #00adb5;
  opacity: 0.3;
  height: 180px;
  width: 100%;
}
.container_gameResult_message {
  font-size: 150px;
}

/*# sourceMappingURL=main.css.map */
